<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdhYsU5teImNbSiUyPZynUEyxJ38O6zAs</string>
	<key>GCM_SENDER_ID</key>
	<string>909106559073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-with-firebase-3d3d8</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-with-firebase-3d3d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909106559073:ios:5f1323c6092770790f9220</string>
</dict>
</plist>